body {
  background-color: #b8b3d3;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/059/original/pexels-karolina-grabowska-5412091.jpg?1708387337");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  color: #40424a;
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  margin: 0 0 5px;
  font-size: 30px;
  line-height: 30px;
  color: #fadd67;
}

select {
  display: block;
  margin: 20px auto;
  width: 80%;
  padding: 5px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #40424a;
  background-color: #b8b3d3;
  color: #40424a;
}

hr {
  width: 80%;
  border: none;
  border-top: 1px solid #40424a65;
}

.home-link {
  text-decoration: none;
  color: #fadd67;
}

.home-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  margin-bottom: 0;
  background-color: #8b7aa7c0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #605474c0;
  padding: 10px 0 40px 0;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 0;
}

.date {
  line-height: 16px;
  font-size: 16px;
}

.time {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.time small {
  font-size: 16px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  margin: 20px;
  font-size: 13px;
  text-align: center;
}
